{% extends 'base.html' %}
{% block content %}
<style>
    .floatright {
        float: right;
    }
    .card {
        padding-top: 10px;
        text-align: center;
        position: fixed;
        transform:translateX(50%);
    }
    .controls {
        max-width: 95%;
        position: fixed;
        top:100vh;
        transform:translateY(-100%);
        width:100%;
        padding-left: 5%;
        padding-bottom: 50px;
        text-align: center;
    }
</style>
<div class="paddedarea">
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            {% for x in songs %}
            <li class="list-group-item">
                {{ songs[x] }} 
                <div class="floatright">
                    <a class="btn btn-outline-primary" href="/play/{{ x }}" role="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/>
                        </svg>
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="controls">
    <button type="button" class="btn btn-primary">Hello?</button>
</div>
{% endblock %}