{% extends 'base.html' %}
{% block content %}
<style>
    .padded {
        padding: 15px;
    }
    .card {
        display: inline-block;
        text-align: center;
        justify-content: space-between;
        margin: 0 auto;
        padding: 10px 0;
    }
</style>
<div class="padded">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Playlists</li>
        </ol>
    </nav>
</div>
<ul>
    {% for playlist in playlists %}
    <div class="card" style="width: 18rem;">
        <img src="{{ playlists[playlist] }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ playlist }}</h5>
          <a href="/playlists/{{ playlist }}" class="btn btn-primary">Songs</a>
        </div>
      </div>
    {% endfor %}
</ul>
{% endblock %}